.contact .content {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
}

.contact .contact_image {
  flex: 2;
  height: 100vh;
}

.contact .contact_image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 100% 20%;
}

.contact .container {
  width: 100%;
  height: 100%;
  margin: 60px auto 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.contact .title {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  /* margins-bottom: 10px; */
}

.contact .container .description {
  margin-bottom: 40px;
  padding: 0px 20px;
  font-size: 18px;
  text-align: center;
}

.contact .contact_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0px 20px;
  text-align: center;
}

.contact .contact_info .head{
  font-size: 18px;
  margin-bottom: 10px;
}

.contact .contact_info .icons {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.contact .contact_info .left .icons span {
  width: 160px;
  text-align: center;
}

.contact .contact_info .right .icons span {
  width: 160px;
  text-align: center;
}

.contact .contact_info .icons img {
  width: 30px;
  height: 30px;
}

@media (max-width: 500px) {
  .contact .content {
    flex-direction: column;
  }
  .contact .title { 
    font-size: 18px;
  }
  .contact .container {
    margin: 20px auto 0px;
  }
  .contact .container .description {
    margin-bottom: 0px;
    font-size: 12px;
  }
  .contact .contact_info {
    flex-direction: column;
    padding: 0px 20px 20px;
    gap: 15px;
  }
  .contact .contact_info .head{
    margin-bottom: 7px;
    text-align: center;
    font-size: 15px;
  }
  .contact .contact_info .icons{
    height: 30px;
    font-size: 12px;
  }
  .contact .contact_info .icons img{
    width: 25px;
    height: 25px;
  }
  .contact .contact_info .left .icons span {
    width: 120px;
  }
  
  .contact .contact_info .right .icons span {
    width: 120px;
  }
}