.project_info {
  /* background: #000000; */
  background: rgb(0, 0, 0);
  color: #fff;
  height: 100%;
}

.project_info .slideshow {
  position: relative;
  overflow: hidden;
}

.project_info .slides {
  text-align: center;
  height: 100vh;
}

.project_info .slides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoom-in-effect 18s cubic-bezier(0.28, -0.03, 0, 0.99) forwards;
}

@keyframes zoom-in-effect {
  from {
    scale: 1 1;
  }
  to {
    scale: 1.15 1.15;
  }
}

.project_info .slideshow .button {
  margin: -45px 15px;
  height: 90px;
  font-size: 60px;
  background-color: unset;
  color: white;
  border: none;
  position: absolute;
  top: 50%;
  z-index: 1;
}

.project_info .slideshow .button-left {
  left: 0%;
}

.project_info .slideshow .button-right {
  right: 0%;
}

.project_info .title, .gallery_title {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 12px 0;
  text-transform: uppercase;
}

.project_info .title {
  background-color: white;
  color: black;
}

.project_info .gallery_title {
  color: #fff;
}

.project_info .gallery {
  display: grid;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 30px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
}

.project_info .content {
  width: 90%;
  /* text-align: center; */
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.info-cards {
  display: flex;
  gap: 30px;
  padding: 40px 0px;
  border-radius: 35px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
}

.info-cards .content-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
  text-align: left;
}

.info-cards .image {
  background-color: #ffffff;
}

.info-cards .heading {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.info-cards .text {
  font-size: 18px;
  letter-spacing: 1px;
  text-align: left;
}

.design-brief {
  flex-direction: row-reverse;
  background-color: #000000;
}

.design-brief .image-wrapper {
  flex: 4;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  gap: 20px;
}

.design-brief .content-wrapper {
  flex: 3;
  border-right: 4px dotted rgb(160, 0, 0);
}

.design-philosophy {
  flex-direction: row;
  background-color: #fff;
  color: black;
  gap: 0;
}

.design-philosophy .image {
  flex: 4;
  text-align: center;
}

.design-philosophy .image img {
  width: 90%;
  height: auto;
}

.design-philosophy .content-wrapper {
  color: rgb(0, 0, 0);
  padding-left: 30px;
  flex: 3;
  border-left: 4px dotted rgb(80, 80, 100);
}

.design-objectives {
  flex-direction: row-reverse;
  background-color: #000000;
}

.design-objectives .image {
  flex: 4;
  border-radius: 35px;
}

.design-objectives .content-wrapper {
  flex: 3;
  border-right: 4px dotted rgb(160, 0, 0);
}

.floor-plan {
  flex-direction: row;
  background-color: #fff;
  padding: 20px 30px;
  color: black;
  gap: 0;
  text-align: center;  
}

.floor-plan > .ground, .first {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 15px;
}

.floor-plan .ground {
  border-right: 4px dotted rgb(80, 80, 100);
}

.floor-plan .image {
  width: 100%;
  height: 100%;
}

.floor-plan .first .image {
  border: 1px solid black;
}

.floor-plan .image img {
  width: 100%;
  height: 100%;
}

.floor-plan .heading {
  color: black;
  /* width: 100%; */
  font-size: 18px;
}

.site-plan {
  flex-direction: row;
  max-height: 90vh;
  background-color: #fff;
  color: black;
}

.site-plan .image {
  flex: 6;
}

.site-plan .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.site-plan .content-wrapper {
  color: rgb(0, 0, 0);
  flex: 1;
  border-left: 4px dotted rgb(80, 80, 100);
  text-align: center;
}

@media (max-width: 500px) {
  .project_info .slides {
    height: 100%;
  }

  .project_info .title, .gallery_title {
    font-size: 18px;
  }
  
  .project_info .gallery {
    grid-template-columns: auto;
  }

  .project_info .content {
    margin: 20px auto;
    gap: 20px;
  }

  .info-cards {
    flex-direction: column;
    gap: 0;
  }

  .info-cards .content-wrapper {
    border: unset;
    gap: 15px;
  }

  .info-cards .heading {
    font-size: 18px;
    text-align: center;
  }

  .design-brief .heading, .design-philosophy .heading, .design-objectives .heading {
    border-bottom: 3px solid rgb(80, 80, 100);
  }

  .info-cards .text{
    font-size: 15px;
  }

  .site-plan, .floor-plan {
    padding: 20px;
  }

  .site-plan .image img {
    height: auto;
    width: 100%;
  }

  .design-brief {
    flex-direction: column-reverse;
    padding: 0;
    gap: 20px;
  }

  .design-brief .image-wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .design-brief .image-wrapper .text {
    padding: 0;
  }

  .design-brief .content-wrapper {
    padding: 0;
  }
}