.archi_project_info {
  /* background: #000000; */
  background: rgb(0, 0, 0);
  color: #fff;
  height: 100%;
}

.archi_project_info .container {
  position: relative;
}

.archi_project_info .slideshow {
  position: relative;
}

.archi_project_info .slides {
  text-align: center;
  height: 100vh;
  display: none;
  overflow: hidden;
}

.archi_project_info .slides.active {
  display: block;
}

.archi_project_info .slides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoom-in-effect 15s cubic-bezier(0.4, 0, 1, 1) forwards;
}

@keyframes zoom-in-effect {
  from {
    scale: 1 1;
  }
  to {
    scale: 1.15 1.15;
  }
}

.archi_project_info .slider {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  text-align: center;
  cursor: default;
}

.archi_project_info .slider .button {
  /* margin: -45px 15px; */
  /* height: 15px; */
  font-size: 24px;
  font-weight: bold;
  background-color: unset;
  border: none;
  color: rgb(255, 255, 255);
  /* position: absolute;
  top: 50%; */
  z-index: 3;
  scale: 1 1;
  transition: 0.3s;
}

.archi_project_info .slider .dot {
  display: inline-block;
  margin: 0 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(100, 100, 100, 0.85);
  opacity: 0.85;
  transition: 0.3s;
}

.archi_project_info .slider .button:hover {
  scale: 1.3 1.3;
}

.archi_project_info .slider .dot:hover {
  background-color: rgb(255, 255, 255);
  scale: 1.3 1.3;
}

.archi_project_info .slider .dot.active {
  background-color: rgb(255, 255, 255);
  scale: 1.3 1.3;
}

.archi_project_info .project-button-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.archi_project_info .project-button-wrapper div:nth-child(1)::after {
  content: " All Project";
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.2s;
}

.archi_project_info .project-button-wrapper div:nth-child(2):before {
  content: "Next Project ";
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.2s;
}

.archi_project_info .project-button-wrapper div:hover {
  scale: 1.05 1.05;
  font-weight: bold;
  color: rgb(200, 0, 0);
}

.archi_project_info .title,
.gallery_title {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 12px 0;
  text-transform: uppercase;
}

.archi_project_info .title {
  background-color: white;
  color: black;
}

.archi_project_info .gallery_title {
  color: #fff;
}

.archi_project_info .gallery {
  display: grid;
  width: 100%;
  margin: 0 auto;
  padding: 0 80px 30px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
}

.archi_project_info .gallery .image-section {
  cursor: pointer;
  /* background-color: #fff; */
}

.archi_project_info .gallery .images {
  cursor: pointer;
}

.archi_project_info .gallery .caption {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(200, 200, 200);
  font-weight: bold;
  padding: 2px 0;
}

.archi_project_info .content {
  width: 100%;
  /* text-align: center; */
  margin: 20px auto;
  padding: 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.info-cards {
  display: flex;
  gap: 30px;
  width: 100%;
  padding: 40px 0px;
  border-radius: 35px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
}

.info-cards .content-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
  text-align: left;
}

.info-cards .image {
  background-color: #ffffff;
  border-radius: 35px;
  overflow: hidden;
}

.info-cards .image img {
  width: 100%;
  height: 100%;
  max-height: 90vh;

  object-fit: contain;
}

.info-cards .heading {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.info-cards .text {
  font-size: 18px;
  letter-spacing: 1px;
  text-align: left;
}

.design-brief {
  flex-direction: row-reverse;
  background-color: #000000;
  padding: 20px 0;
  align-items: center;
}

.design-brief .image-wrapper {
  flex: 4;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  gap: 20px;
}

.design-brief .image {
  border-radius: 35px;
}

.design-brief .content-wrapper {
  flex: 3;
  border-right: 4px dotted rgb(160, 0, 0);
}

.design-philosophy {
  flex-direction: row;
  background-color: #fff;
  color: black;
}

.design-philosophy .image {
  flex: 4;
  text-align: center;
}

.design-philosophy .image img {
  width: 90%;
  height: auto;
}

.design-philosophy .content-wrapper {
  color: rgb(0, 0, 0);
  padding-left: 30px;
  flex: 3;
  border-left: 4px dotted rgb(80, 80, 100);
}

.design-objectives {
  flex-direction: row-reverse;
  background-color: #000000;
}

.design-objectives .image {
  flex: 4;
  border-radius: 35px;
}

.design-objectives .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.design-objectives .content-wrapper {
  flex: 3;
  border-right: 4px dotted rgb(160, 0, 0);
}

.floor-plan {
  flex-direction: row;
  background-color: #fff;
  padding: 25px 15px;
  color: black;
  gap: 0;
  text-align: center;
}

.floor-plan > .ground,
.floor-plan > .first {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.floor-plan .ground {
  border-right: 4px dotted rgb(80, 80, 100);
}

.floor-plan .image {
  width: 100%;
  height: 100%;
}

.floor-plan .first .image {
  /* border: 1px solid black; */
}

.floor-plan .image img {
  width: 100%;
  height: 100%;
}

.floor-plan .heading {
  color: black;
  /* width: 100%; */
  font-size: 18px;
}

.site-plan {
  flex-direction: row;
  /* max-height: 90vh; */
  background-color: #fff;
  color: black;
  padding: 0px 10px;
  gap: 10px;
  overflow: hidden;
}

.site-plan .image {
  flex: 6;
  max-height: 90vh;
}

.site-plan .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.site-plan .content-wrapper {
  color: rgb(0, 0, 0);
  flex: 1;
  border-left: 4px dotted rgb(80, 80, 100);
  text-align: center;
}

.design-merge {
  display: flex;
}

.design-merge .image {
  flex: 1;
}

.design-merge .image img {
  max-height: none;
}

.design-merge .content-wrapper {
  flex: 1;
}

.design-merge .design-philosophy, .design-merge .design-objectives {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #000000;
  color: #fff;
}

.design-merge .design-philosophy li, .design-merge .design-objectives li {
  line-height: 24px;
  margin-bottom: 15px;
}

#maritime_museum .design-philosophy {
  background-color: #000000;
  color: #fff;
}

#maritime_museum .design-philosophy .image {
  background-color: #000000;
  border-right: 4px dotted rgb(160, 0, 0);
  border-radius: unset;
}

#maritime_museum .design-philosophy .content-wrapper {
  background-color: #fff;
  border-radius: 35px;
  border: none;
  /* color: #fff; */
}

@media (max-width: 500px) {
  .archi_project_info .slides {
    height: 100%;
  }

  .archi_project_info .slider {
    bottom: 10px;
  }
  .archi_project_info .slider .button {
    /* margin: -45px 15px; */
    /* height: 15px; */
    font-size: 20px;
    font-weight: bold;
    background-color: unset;
    border: none;
    color: rgb(255, 255, 255);
    /* position: absolute;
    top: 50%; */
    z-index: 3;
    scale: 1 1;
    transition: 0.3s;
  }
  
  .archi_project_info .slider .dot {
    display: inline-block;
    margin: 0 1px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(100, 100, 100, 0.85);
    opacity: 0.85;
    transition: 0.3s;
  }
  
  .archi_project_info .slider .button:hover {
    scale: 1.1 1.1;
  }
  
  .archi_project_info .slider .dot:hover {
    background-color: rgb(255, 255, 255);
    scale: 1.1 1.1;
  }
  
  .archi_project_info .slider .dot.active {
    background-color: rgb(255, 255, 255);
    scale: 1.1 1.1;
  }

  .archi_project_info .project-button-wrapper {
    padding: 5px 5%;
  }

  .archi_project_info .project-button-wrapper div {
    font-size: 15px;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: 0.2s;
  }

  .archi_project_info .project-button-wrapper div:nth-child(1)::after {
    content: " All";
  }

  .archi_project_info .project-button-wrapper div:nth-child(2):before {
    content: "Next ";
  }

  .archi_project_info .title,
  .gallery_title {
    font-size: 18px;
  }

  .archi_project_info .gallery {
    grid-template-columns: auto;
    width: 95%;
    padding: 0;
  }

  .archi_project_info .content {
    width: 95%;
    margin: 20px auto;
    padding: 0;
    gap: 20px;
  }

  .info-cards {
    flex-direction: column;
    gap: 0;
    padding: 0;
  }

  .info-cards .content-wrapper {
    border: unset;
    gap: 15px;
  }

  .info-cards .heading {
    font-size: 18px;
    text-align: center;
  }

  .design-brief .heading,
  .design-philosophy .heading,
  .design-objectives .heading {
    border-bottom: 3px solid rgb(80, 80, 100);
  }

  .info-cards .text {
    font-size: 15px;
  }

  .site-plan,
  .floor-plan {
    padding: 15px;
  }

  .site-plan .image img {
    height: auto;
    width: 100%;
  }

  .design-brief {
    flex-direction: column;
    padding: 0;
    gap: 20px;
  }

  .design-brief .image-wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .design-brief .image-wrapper .text {
    padding: 0 20px;
  }

  .design-brief .content-wrapper {
    padding: 0 20px;
  }

  .design-philosophy .content-wrapper {
    padding: 20px;
  }

  .floor-plan {
    gap: 15px;
  }

  .floor-plan > .ground,
  .floor-plan > .first {
    gap: 0;
    padding: 0;
  }

  .site-plan .content-wrapper {
    padding: 0px;
  }

  .design-merge .image img {
    max-height: 90vh;
  }
  
  .design-merge .design-philosophy, .design-merge .design-objectives {
    height: auto;
    padding: 20px 0;
    gap: 15px;
  }
  
  .design-merge .design-philosophy li, .design-merge .design-objectives li {
    line-height: 22px;
    margin-bottom: 15px;
  }
  
  #maritime_museum .design-philosophy .image {
    border-right: unset;
    border-radius: unset;
  }
}
