.gallery {
  /* background: #000000; */
  background: rgb(155 161 187);
  color: #fff;
  height: 100%;
}

.gallery .container .slideshow {
  height: 100vh;
  position: relative;
}

.gallery .container .title_image {
  width: 90%;
  margin: 0 auto;
}

.gallery .container .image_slideshow {
  text-align: center;
}

.gallery .container .image_slideshow img {
  width: 100%;
  height: 100vh;
  /* position: relative; */
  object-fit: cover;
}

.gallery .container .slide-button {
  margin: -45px 15px;
  height: 90px;
  font-size: 60px;
  background-color: unset;
  color: white;
  border: none;
  position: absolute;
  top: 50%;
  z-index: 1;
  
}

.gallery .container .slide-button-left {
  left: 0%;
}

.gallery .container .slide-button-right {
  right: 0%;
}

.gallery .container .project_title {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 12px 0;
  background-color: white;
  color: black;
  text-transform: uppercase;
}

.gallery .container .project_detail {
  width: 90%;
  text-align: center;
  margin: 0px auto;
}
.gallery .container .gallery_title {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 12px 0;
  /* background-color: white; */
  color: #fff;
  text-transform: uppercase;
}

.gallery .container .project_gallery {
  display: grid;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 30px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
}

.project_images img {
  border: 3px #fff solid;
}

.design-brief {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  background-color: #fff;
  margin: 20px 0;
  padding: 40px 30px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: black;
  gap: 30px;
}

.design-brief .image-2 {
  background-color: white;
  flex: 4;
}

.design-brief .description {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 20px 20px;
  text-align: left;
  flex: 3;
  /* min-width: 500px; */
  border-right: 4px dotted rgb(80, 80, 100);
}

.design-philosophy {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff;
  margin: 20px 0;
  padding: 40px 30px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: black;
  gap: 30px;
}

.design-philosophy .image-1 {
  background-color: white;
  flex: 4;
}

.design-philosophy .image-1 img {
  width: 90%;
  height: auto;
}

.design-philosophy .description {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 20px 20px;
  text-align: left;
  flex: 3;
  border-left: 4px dotted rgb(80, 80, 100);
}

.project_detail .description .heading {
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.project_detail .description p {
  font-size: 18px;
}

.design-objectives {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  
  background-color: #fff;
  margin: 20px 0;
  padding: 40px 30px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: black;
  gap: 30px;
}

.design-objectives .image-2 {
  background-color: white;
  flex: 4;
}

.design-objectives .description {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 20px 20px;
  text-align: left;
  flex: 3;
  /* min-width: 500px; */
  border-right: 4px dotted rgb(80, 80, 100);
}

.floor-plan {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* height: 90vh; */

  background-color: #fff;
  margin: 20px 0;
  padding: 20px 30px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: black;
  /* gap: 30px; */
}

.floor-plan .ground {
  flex: 1;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-right: 4px dotted rgb(80, 80, 100);
  gap: 15px;
}

.floor-plan .ground .image-1 {
  /* height: 90%; */
}

.floor-plan .ground .image-1 img {
  /* width: 100%;
  height: auto; */
}

.floor-plan .ground .heading {
  color: black;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  /* height: 10%; */
}

.floor-plan .first {
  flex: 1;
  /* min-width: 500px; */
}

.site-plan {
  display: flex;
  flex-direction: row;
  max-height: 90vh;
  background-color: #fff;
  margin: 20px 0;
  padding: 40px 30px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: black;
  gap: 30px;
}

.site-plan .image-3 {
  flex: 6;
}

.site-plan .image-3 img {
  height: 100%;
}

.site-plan .description {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 20px;
  flex: 1;
  border-left: 4px dotted rgb(80, 80, 100);

}


/* #interior_gallery {
  display: none;
} */

@media (max-width: 500px) {
  .gallery .container .project_title {
    font-size: 18px;
  }
  
  .gallery .container .project_gallery {
    grid-template-columns: auto;
  }
  .design-brief, .design-philosophy, .design-objectives, .site-plan, .floor-plan {
    flex-direction: column;
  }

  .design-brief .image-2,.design-philosophy .image-1, .design-objectives .image-2, .site-plan .image-3, .floor-plan .ground, .floor-plan .first {
    min-width: unset;
  }
  .design-brief .description, .design-philosophy .description, .design-objectives .description, .site-plan .description, .floor-plan .ground, .floor-plan .first {
    min-width: unset;
    border-left: unset;
    border-right: unset;
    padding: unset;
  }
  .design-brief, .design-philosophy, .design-objectives, .site-plan {
    gap: unset;
  }
  .design-brief .image-2, .design-philosophy .image-1, .design-objectives .image-2 {
    padding: unset;
  }
  .project_detail .description .heading {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 3px solid rgb(80, 80, 100);
  }
  .project_detail .description p {
    font-size: 15px;
  }

  .site-plan, .floor-plan {
    padding: 20px;
  }
  .site-plan .description {
    font-size: 18px;
  }
  .site-plan .image-3 img {
    height: auto;
    width: 100%;
  }

  .gallery .container .gallery_title {
    font-size: 18px;
  }
}