.home .slideshow {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.home .slideshow .slides {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  transition: 1.5s cubic-bezier(0.28, -0.03, 0, 0.99) 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
}

.home .slideshow .slides.active {
  transform: translateY(-100%);
}

.home .slideshow .slides .image {
  height: 100%;
  width: 100%;
  padding: 2vh;
  background-color: black;
}

.home .slideshow .slides img {
  object-fit: cover;
  height: 96vh;
  width: calc(100vw - 4vh);
  object-position: 50% 50%;
  position: absolute;
  top: 2vh;
  left: 2vh;
  transition: 0.5s;
}

.home .slideshow .slides img.deactive {
  opacity: 0;
}

.home .slideshow .content {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 2vh;
  color: #fff;
  font-size: 22px;
  letter-spacing: 5px;
  word-spacing: 4px;
  text-align: center;
  text-transform: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(50, 50, 50, 0.1);
}

.home .slideshow .content span {
  font-size: 16px;
  font-style: italic;
  margin-top: 12px;
  width: 100%;
  text-align: center;
  letter-spacing: 3px;
  word-spacing: 3px;
}

.home .slideshow .effect-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  gap: 20px;
  transition-property: opacity;
  transition-duration: 0.7s;
  transition-delay: 1.5s;
}

.home .slideshow .slides.active .effect-button-wrapper {
  opacity: 0;
  transition-duration: 0.3s;
  transition-delay: 0s;
}

.home .slideshow .effect-button {
  color: white;
  background-color: rgba(40, 40, 50, 0.8);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-size: 24px;
  border: none;
}

@media (max-width: 500px) {
  .home .slideshow {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 10px;
    height: auto;
    position: static;
    overflow-y: auto;
    padding: 10px 0;
  }

  .home .slideshow .slides {
    position: static;
    height: auto;
    padding: 0 10px;
  }
  
  .home .slideshow .slides.active {
    transform: translateY(0);
  }

  .home .slideshow .slides .image {
    height: 45vh;
    width: 100%;
    padding: 0;
    position: relative;
  }

  .home .slideshow .slides img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .home .slideshow .slides .content {
    font-size: 15px;
    letter-spacing: 3px;
    word-spacing: 0px;
    width: 100%;
    padding: 0 5%;
  }

  .home .slideshow .slides .content span {
    font-size: 13px;
    letter-spacing: 3px;
    word-spacing: 2px;
  }

  .home .slideshow .effect-button-wrapper {
    bottom: 12px;
  }

  .home .slideshow .slides.active .effect-button-wrapper {
    opacity: 1;
  }
  
  .home .slideshow .effect-button {
    background-color: rgba(40, 40, 50, 0.8);
    width: 36px;
    height: 36px;
    font-size: 18px;
  }

  .home .slideshow .effect-button.button-up, .home .slideshow .effect-button.button-down {
    display: none;
  }
}
