.home {
  z-index: 1;
  /* height: 700vh; */
  /* background: rgb(36 36 36); */
  background-color: black;
  /* background-image: url(/images/thara_mandal.jpg);
  background-position: left;
  background-repeat: repeat;
  background-size: 50% 100vh; */
}

.home::before {
  content: " ";
  position: fixed;
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  height: 100%;
  /* background-color: black; */
  /* background-image: url(/images/thara_mandal.jpg); */
  /* background-position: left; */
  /* background-repeat: repeat; */
  opacity: 0.6;
  background-size: 50% 100vh;
}

.home .container {
  padding: 2vh;
}

.home .container .list {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 2vh;
  height: 100%;
}

.home .container .list .item {
  height: 96vh;
  width: 100%;
  /* width: calc( 1% * ( ( max( ( var(--scroll) + 50), -100 )  ) + 100 ) ); */
  position: relative;
  /* padding: 0px; */
  padding: 0 calc(1% * min(-1 * ( var(--scroll) + 50), 25));
  overflow: hidden;
  transition: 1s cubic-bezier(0.28, -0.03, 0, 0.99) 100ms;
}

.home .container .list .item:first-child {
  animation: image-view 1s cubic-bezier(0.28, -0.03, 0, 0.99) forwards 500ms;
}

@keyframes image-view {
  from {
    padding: 0 25%;
  }
  to {
    padding: 0 0%;
  }
}

/* .home .container .list .item.active {
  height: 88vh;
} */

.home .container .list .item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 1;
  object-position: 50% 50%;
}

.home .container .list .item.transition img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}

.home .container .list .item.transition img.active {
  opacity: 1;
  transition: 0.5s;
}

.home .container .list .item .content {
  position: absolute;
  left: 0%;
  top: 0%;
  color: #fff;
  font-size: 24px;
  letter-spacing: 5px;
  word-spacing: 4px;
  text-align: center;
  text-transform: none;
  width: 100%;
  height: 100%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* transform: translate(0,50px); */
  /* transition: all 300ms 200ms; */
  /* transform: translate(-50%, -50%); */
}

.home .container .list .item .content span {
  font-size: 16px;
  font-style: italic;
  margin-top: 12px;
  width: 100%;
  text-align: end;
  letter-spacing: 3px;
  word-spacing: 3px;
}

@media (max-width: 500px) {
  .home .container {
    padding: 10px;
  }
  
  .home .container .list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 100%;
  }
  .home .container .list .item {
    height: 47vh;
    padding: 0;
  }

  .home .container .list .item .content {
    font-size: 15px;
    letter-spacing: 3px;
    word-spacing: 0px;
    width: 100%;
    padding: 0 5%;
  }

  .home .container .list .item .content span {
    font-size: 13px;
    letter-spacing: 3px;
    word-spacing: 2px;
  }
}
