.int_project_info {
    width: 100%;
    background: rgb(36 36 36);
}

.int_project_info .container {
    overflow-x: hidden;
    padding-bottom: 20px;
}

.int_project_info .title_image {
    width: 100vw;
    height: 100vh;
}

.int_project_info .title_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.int_project_info .title {
    font-size: 24px;
    letter-spacing: 5px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin: 20px auto;
}

.int_project_info .description {
    color: white;
    padding: 0px 25px 20px;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
}

.int_project_info .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.int_project_info .content-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: rgb(36 36 36);
    padding: 4vh 15px;
    color: black;
    gap: 10px;
}

.int_project_info .content-wrapper:nth-child(odd){
    flex-direction: row-reverse;
}

.int_project_info .content-wrapper .image {
    width: calc( 1% * (var(--scroll) * 55 / 100 + 95 ) );
}

.int_project_info .content-wrapper .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 100% 50%;
}

.int_project_info .content-wrapper .text {
    color: rgb(255, 255, 255);
    font-size: 32px;
    /* font-weight: bold; */
    letter-spacing: 8px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    width: calc(90vh - 30px);
    height: 40px;
    top: calc(50% - 20px);
}

.int_project_info .content-wrapper:nth-child(odd) .text {
    rotate: -90deg;
    left: calc(-45vh + 50px);
}

.int_project_info .content-wrapper:nth-child(even) .text {
    rotate: 90deg;
    right: calc(-45vh + 50px);
}

@media (max-width: 500px) {
    .int_project_info .title_image {
        width: 100vw;
        height: 100%;
    }

    .int_project_info .title {
        font-size: 18px;
        width: 100%;
        margin: 10px auto;
    }

    .int_project_info .description {
        font-size: 15px;
    }

    .int_project_info .gallery {
        gap: 10px;
    }

    .int_project_info .content-wrapper {
        height: auto;
        padding: 0 10px;
        flex-direction: column;
        gap: 5px;
    }

    .int_project_info .content-wrapper:nth-child(odd){
        flex-direction: column;
    }

    .int_project_info .content-wrapper .image {
        width: 100%;
    }

    .int_project_info .content-wrapper .text {
        font-size: 18px;
        letter-spacing: 4px;
        position: static;
        width: 100%;
        height: 20px;
    }
    
    .int_project_info .content-wrapper:nth-child(odd) .text {
        rotate: 0deg;
    }
    
    .int_project_info .content-wrapper:nth-child(even) .text {
        rotate: 0deg;
    }
}