@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: rgb(0, 0, 0);
}

img {
  max-width: 100%;
}

.main {
  overflow-x: hidden;
}

/*--------------- LOADING PAGE --------------- */

.onLoadDisplay {
  width: 100%;
  height: 100%;
  background-color: rgb(36 40 50);
  opacity: 0.97;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  /* transition: background-color 1s; */
  opacity: 0;
  display: none;
  transition: all 1.5s;
}

.onLoadDisplay.display {
  display: block;
}

.onLoadDisplay.opacity {
  opacity: 1;
}

.onLoadDisplay .wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 3;
}

/* .glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
} */

.onLoadDisplay .logo_image {
  height: 150px;
  margin-bottom: 10px;
}

.onLoadDisplay .logo_image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* animation: image-glow 1s ease-in-out infinite alternate; */
}

.onLoadDisplay .logo_title {
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 45px;
  letter-spacing: 10px;
  animation: text-glow 1s ease-in-out infinite alternate;
}

/* @keyframes image-glow {
  from {
    box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #fcfcfc;
  }
  
  to {
    box-shadow: 0 0 2px #fff, 0 0 5px #eab169, 0 0 10px #d6ba7d;
  }
} */

@keyframes text-glow {
  from {
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #fcfcfc;
  }

  to {
    text-shadow: 0 0 2px #fff, 0 0 5px #eab169, 0 0 10px #d6ba7d;
  }
}

/*--------------- NAV-BAR --------------- */

.nav-bar {
  width: 100%;
  margin: auto;
  /* font-size: 18px; */
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
}

.nav-bar.hide {
  display: none;
}

.nav-bar .container {
  width: 100%;
  padding: 40px 40px;
  position: relative;
}

#logo {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  padding: 15px 15px;
  z-index: 2;
}

#logo img {
  width: auto;
  height: 60px;
}

/*--------------- MENU BUTTON ---------------*/

.menu-button-container {
  position: fixed;
  padding: 40px;
  top: 0px;
  right: 0px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #ffffff;
  position: absolute;
  height: 3px;
  width: 40px;
  transition: all 700ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

.menu-button-clicked::before {
  margin-top: 0px;
  transform: rotate(405deg);
  background-color: rgb(255 0 0);
  width: 45px;
}

.menu-button-clicked {
  background: rgba(255, 255, 255, 0);
}

.menu-button-clicked::after {
  margin-top: 0px;
  transform: rotate(-405deg);
  width: 45px;
}

/*------------ MENU PAGE --------------*/

.menu-page {
  position: fixed;
  /* top: -100vh; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0 0 0 / 95%);
  opacity: 0;
  transition: opacity 400ms ease-in-out;
  display: none;
  justify-content: space-evenly;
}

.menu-page.active {
  display: flex;
}

.menu-page.active.show {
  opacity: 1;
}

.menu-list {
  height: 100%;
  display: flex;
  justify-content: center;
}

.menu-list.hide {
  display: none;
}

.menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  list-style-type: none;
}

.menu-items .menu-item {
  transition: all 300ms ease-in;
  transform: matrix(1, 0, 0, 1, 150, 0);
  opacity: 0;
  /* letter-spacing: 5px; */
}

.menu-items .menu-item.active {
  transform: matrix(1, 0, 0, 1, 0, 0);
  opacity: 0.7;
}

.menu-list .menu-items .menu-item.active.hide {
  transform: matrix(1, 0, 0, 1, -150, 0);
}

.menu-items .menu-item.active:hover {
  transform: matrix(1.15, 0, 0, 1.15, 0, 0);
  opacity: 1;
}

.menu-page .menu-item a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.menu-items .menu-item.all a {
  color: rgb(255, 0, 0);
  font-weight: 500;
}

.menu-page .menu-item span {
  cursor: pointer;
  color: #fff;
  /* font-size: 40px; */
  font-weight: bold;
  color: rgb(255 0 0);
}

.menu-back {
  color: rgb(255 0 0);
  font-size: 20px;
  font-weight: 600;
  /* text-transform: uppercase; */
  position: fixed;
  top: 18%;
  left: 3%;
  cursor: pointer;
  transition: all 250ms ease-in;
  opacity: 0.7;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.menu-back:hover {
  transform: matrix(1.15, 0, 0, 1.15, 0, 0);
  opacity: 1;
}

.section {
  display: none;
}

.section.active {
  display: block;
}
/*------------ SCROLL TO TOP --------------*/
.scrollToTop {
  position: fixed;
  display: none;
  bottom: 20px;
  right: 20px;
  z-index: 4;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(36 40 50);
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}

.scrollToTop:hover {
  background-color: rgb(200, 200, 200);
} 

.scrollToTop div {
  color: rgb(160, 0, 0);
  font-size: 24px;
  font-weight: 900;
  padding-bottom: 6px;
}

/*------------ IMAGE PREVIEW --------------*/

.preview {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 1;
  z-index: 5;
  justify-content: center;
  align-items: center;
  display: none;
}

.preview.active {
  display: flex;
  animation: fade-in 0.5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.preview .close {
  position: fixed;
  padding: 40px 60px;
  top: 0px;
  right: 0px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.preview .close .button::before,
.preview .close .button::after {
  content: "";
  display: block;
  background-color: rgb(200, 200, 200);
  position: absolute;
  height: 2px;
  width: 30px;
  border-radius: 2px;
  translate: -50% -50%;
}

.preview .close .button::before {
  rotate: 405deg;
}

.preview .close .button::after {
  rotate: -405deg;
}

.preview .close .button {
  transition: 0.3s;
}

.preview .close .button:hover {
  scale: 1.2 1.2;
}

.preview .image {
  width: 75%;
  text-align: center;
}

.item.transition .effect-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  gap: 30px;
}
.item.transition .effect-button {
  color: black;
  background-color: rgb(40 40 50);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.effect-button-icon {
  width: 1.5px;
  height: 36px;
  background-color: rgb(175 186 202);
}

.effect-button-icon::before, .effect-button-icon::after {
  content: "";
  width: 13px;
  height: 25px;
  position: absolute;
  top: 17.5px;
}

.effect-button-icon::before {
  background-color: rgb(147 238 250);
  left: 12px;
}

.effect-button-icon::after {
  background-color: rgb(156 163 185);
  right: 12px;
}

.effect-button.kitchen:nth-child(1) .effect-button-icon::before {
  background-color: rgb(243 225 187);
}

.effect-button.kitchen:nth-child(1) .effect-button-icon::after {
  background-color: rgb(144 96 73);
}

.effect-button.kitchen:nth-child(2) .effect-button-icon::before {
  background-color: rgb(241 240 235)
}

.effect-button.kitchen:nth-child(2) .effect-button-icon::after {
  background-color: rgb(173 143 83);
}

.effect-button.kitchen:nth-child(3) .effect-button-icon::before {
  background-color: rgb(132 73 39);
}

.effect-button.kitchen:nth-child(3) .effect-button-icon::after {
  background-color: rgb(224 171 127);
}

.effect-button.kitchen:nth-child(4) .effect-button-icon::before {
  background-color: rgb(191 165 141);
}

.effect-button.kitchen:nth-child(4) .effect-button-icon::after {
  background-color: rgb(112 85 71);
}

.item.transition img:nth-child(2).active {
  opacity: 1;
}

@media (max-width: 500px) {
  .onLoadDisplay .logo_image {
    height: 100px;
    margin-bottom: 0px;
  }

  .onLoadDisplay .logo_title {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 5px;
  }

  #logo {
    padding: 10px 15px;
  }

  #logo img {
    height: 50px;
  }

  .menu-button-container {
    padding: 35px;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    height: 2px;
    width: 30px;
  }

  .menu-button-clicked::before {
    width: 35px;
  }

  .menu-button-clicked::after {
    width: 35px;
  }

  .menu-items {
    gap: 20px;
  }

  .menu-page .menu-item a {
    font-size: 18px;
    letter-spacing: 3px;
  }
  .menu-page .menu-item span {
    /* font-size: 27px; */
  }

  .preview .close {
    padding: 50px 24px;
  }

  .preview .close .button::before,
  .preview .close .button::after {
    height: 1.9px;
    width: 25px;
    translate: -50% -50%;
  }

  .preview .image {
    width: 97%;
  }
}
